<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <div class="container mx-auto px-4 py-8 max-w-5xl">
        <div class="container mx-auto">

            <h1 class="text-2xl font-medium text-red-500 mb-6">Cart Information</h1>
    
            <div class="bg-white shadow-md rounded-md p-6">
                <!-- Cart Table -->
                <table class="w-full border-collapse">
                <thead>
                    <tr class="border-b border-gray-200">
                    <th class="text-left py-4 font-medium text-gray-700 w-2/5">Product</th>
                    <th class="text-left py-4 font-medium text-gray-700 w-1/5">Price</th>
                    <th class="text-left py-4 font-medium text-gray-700 w-1/5">Quantity</th>
                    <th class="text-right py-4 font-medium text-gray-700 w-1/5">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalAmount = 0; %>
                    <% let itemTotal = 0; %>
                    <% user.cart.forEach(cartProduct => { %>
                    <tr class="border-b border-gray-200">
                    <td class="py-6">
                        <div class="flex items-center">
                        <div class="mr-2 relative">
                            <img src="/images/<%= cartProduct.image %>" alt="<%= cartProduct.name %>" class="w-20 h-16 object-cover">
                        </div>
                        <span class="ml-4 text-gray-800"><%= cartProduct.name %> - <%= cartProduct.variantName %></span>
                        </div>
                    </td>
                    <td class="py-6 text-gray-800"><%= cartProduct.price.toLocaleString() %> VND</td>
                    <td class="py-6">
                        <div class="flex items-center">
                        <input type="text" value="<%= cartProduct.quantity %>" class="quantity-input text-center border-0 focus:outline-none" />
                        </div>
                    </td>
                    <% itemTotal = cartProduct.price * cartProduct.quantity; %>
                    <% totalAmount += itemTotal %>
                    <td class="py-6 text-right text-gray-800 font-medium"><%= itemTotal.toLocaleString() %> VND</td>
                    </tr>
                    <% }) %>
                    
                </tbody>
                </table>
        
                <!-- Buttons -->
                <!-- <div class="flex justify-between mt-8">
                <a href="#" class="px-8 py-3 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 transition">Return To Shop</a>
                <a href="#" class="px-8 py-3 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 transition">Update Cart</a>
                </div> -->
        
                <!-- Coupon and Totals -->
                <div class="mt-10 lg:flex justify-between items-center">
                <!-- Coupon -->
                <div class="lg:w-1/2 mb-6 lg:mb-0 flex flex-col space-y-10">
                    <div class="flex">
                        <input id="coupon-code" type="text" placeholder="Coupon Code" class="border border-gray-300 rounded-l-md px-4 py-3 w-full lg:w-64 focus:outline-none focus:ring-1 focus:ring-red-400">
                        <button id="apply-coupon" class="bg-red-500 hover:bg-red-600 text-white px-4 py-3 rounded-r-md transition">Apply Coupon</button>
                    </div>

                    <div class="flex">
                        <p id="currentLoyaltyPoints" class="border border-gray-300 rounded-l-md px-4 py-3 w-full lg:w-64 focus:outline-none focus:ring-1 focus:ring-red-400">Your Total Points : <%= user.ownedLoyaltyPoints.toLocaleString() %></p>
                        <button id="apply-points" class="bg-red-500 hover:bg-red-600 text-white px-4 py-3 rounded-r-md transition">Apply Loyalty Points</button>
                    </div>
                </div>
        
                <!-- Cart Total -->
                 <% let discountId = '' %>
                 <% let discountCode = '' %>
                 <% const taxAmount = (totalAmount * 0.08); %>
                 <% let discountAmount = 0; %>
                 <% let loyaltyPointsAmount = 0; %>
                 <% let finalTotalAmount = totalAmount + taxAmount; %>
                <div class="lg:w-1/2">
                    <div class="border border-gray-200 rounded-md p-6">
                    <h3 class="text-lg font-medium mb-4">Cart Total</h3>
                    <div class="border-b border-gray-200 pb-4 mb-4">
                        <div class="flex justify-between mb-2">
                            <span>Subtotal:</span>
                            <span class="font-medium"><%= totalAmount.toLocaleString() %> VND</span>
                        </div>
                        
                        <div class="flex justify-between mb-2">
                            <span>Tax (8%):</span>
                            <span class="font-medium"><%= taxAmount.toLocaleString() %> VND</span>
                        </div>

                        <div class="justify-between text-red-500 mb-2">
                            <span>Discount by Coupon:</span>
                            <span id="discountAmountValue" class="font-medium">-<%= discountAmount.toLocaleString() %> VND</span>
                        </div>

                        <div class="justify-between text-red-500 mb-2">
                            <span>Loyalty Points:</span>
                            <span id="loyaltyPointsAmountValue" class="font-medium">-<%= loyaltyPointsAmount.toLocaleString() %> VND</span>
                        </div>

                        <div class="flex justify-between mb-2">
                            <span>Shipping:</span>
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="flex justify-between mb-6">
                        <span>Total:</span>
                        <p id="totalAmount" class="font-medium"><%= finalTotalAmount.toLocaleString() %> VND</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>

    <div class="container mx-auto px-4 py-8 max-w-5xl">

        <% let defaultAddress; %>
        <% user.addresses.forEach(address => { %>
            <% if (user.defaultAddress === address._id) {%>
                <% defaultAddress = address; %>
            <% } %>
        <% }) %>
    
        <!-- Profile Information -->

        <div class="mb-12">
            <h1 class="text-2xl font-medium text-red-500 mb-6">Shipping Information</h1>

            
            
            <form action="/order-summary" method="POST">

                <input type="hidden" name="totalAmount" value="<%= totalAmount %>">
                <input type="hidden" name="taxAmount" value="<%= taxAmount %>">
                <input id="discountAmount" type="hidden" name="discountAmount" value="<%= discountAmount %>">
                <input id="loyaltyPointsAmount" type="hidden" name="loyaltyPointsAmount" value="<%= loyaltyPointsAmount %>">
                <input type="hidden" name="finalTotalAmount" value="<%= finalTotalAmount %>">

                <input id="discountId" type="hidden" name="discountId" value="<%= discountId %>">
                <input id="discountCode" type="hidden" name="discountCode" value="<%= discountCode %>">

                <div id="address-form" class="bg-white border border-gray-200 rounded-md p-6 mb-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block text-gray-700 mb-2">Full Name</label>
                    <input id="fullName" name="fullName" required type="text" value="<%= user && !user.isGuest ? user.fullName : '' %>" placeholder="Full Name" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">Email</label>
                    <input id="email" name="email" required type="text" value="<%= user && !user.isGuest ? user.email : '' %>"  placeholder="Email" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">Phone Number</label>
                    <input required type="text" name="phone" placeholder="Phone Number" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" required>
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">Country</label>
                    <p class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">Vietnam</p>
                </div>
                <div class="md:col-span-2">
                    <label class="block text-gray-700 mb-2">Address</label>
                    <input id="address" name="addressLine" required type="text" value="<%= user && !user.isGuest ? defaultAddress.address : '' %>"  placeholder="Street Address" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">City</label>
                    <input id="city" name="city" required type="text" value="<%= user && !user.isGuest ? defaultAddress.city : '' %>"  placeholder="City" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">State/Province</label>
                    <input id="state" name="state" required type="text" value="<%= user && !user.isGuest ? defaultAddress.state : '' %>"  placeholder="State/Province" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div>
                    <label class="block text-gray-700 mb-2">ZIP/Postal Code</label>
                    <input id="zip" name="zip" required type="text" value="<%= user && !user.isGuest ? defaultAddress.zip : '' %>"  placeholder="ZIP/Postal Code" class="w-full px-4 py-2 bg-gray-50 border border-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                </div>
                <div class="md:col-span-2">
                    <label class="flex items-center">
                    <input type="checkbox" id="show-saved-addresses" class="form-checkbox h-5 w-5 text-red-500">
        
                    <span class="ml-2 text-gray-700">Choose from saved addresses</span>
                    </label>
                </div>
                </div>
                <div class="flex justify-end space-x-3 mt-6">
                <button onclick="window.location.href='cart'" id="cancel-address-btn" class="px-6 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100 transition">Back to cart</button>
                <button type="submit" id="save-address-btn" class="px-6 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition">Confirm Order</button>
                </div>
            </div>
            </form>
        
            <!-- Shipping Address Management -->
             
            <div id="saved-addresses-section" class="hidden">
                <h2 class="text-xl font-medium text-gray-700 mb-4 mt-12 border-b pb-2">Shipping Addresses</h2>
            
                <% if (user && !user.isGuest && user.addresses && user.addresses.length > 0) { %>
                    <% user.addresses.forEach(address => { %>
                    <!-- Addresses -->
                    <% let defaultAddressState; %>
                    <div class="border border-gray-200 rounded-md p-4 mb-4 relative">
                        <% defaultAddressState = false; %>
                        <% if (user.defaultAddress === address._id) {%>
                            <% defaultAddressState = true; %>
                        <% } %>

                        <span class="<%= defaultAddressState ? '': 'hidden' %> absolute top-4 right-4 bg-red-500 text-white text-xs px-2 py-1 rounded-md">Default</span>

                        <h3 class="font-medium"><%= address.title %> Address</h3>
                        <p class="text-gray-600"><%= address.address %></p>
                        <p class="text-gray-600"><%= address.city %>, <%= address.zip %></p>
                        <p class="text-gray-600"><%= address.country %></p>
                        

                        <div class="absolute bottom-4 right-4">
                            <a href="#" class="choose-address px-8 py-3 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 transition"
                            data-fullname="<%= user.fullName %>"
                            data-email="<%= user.email %>"
                            data-address="<%= address.address %>"
                            data-city="<%= address.city %>"
                            data-state="<%= address.state %>"
                            data-zip="<%= address.zip %>">
                            Choose this address
                        </a>

                        </div>
                    </div>
                    <% }) %>
                <% } %>
                    

            </div>
            
        </div>
    </div>

    <%- include('../partials/footer') %>

    <%- include('../partials/flash') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/script.js"></script>


  </body>
</html>